
.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  padding-left: 75px;
}

input, select, option{
  /* #c00 */
  border: 2px solid #d7e6f6; 
  border-radius: 4px;
}
  
table {
  width: 90%;
  margin: auto;
}

table, th, td{
  border: 1px solid #d7e6f6;
  border-collapse: collapse;
  padding: 8px 15px;
  text-align: center;
  margin-top: 20px;
}

tr :nth-child(3) {
  width: 300px;
}

table th {
  background-color: #cef3f3;
  border: 1px solid #6d97c7;
}

table img {
  width: 40%;
}

.pagni {
  float: left;
  width: 70%;
  text-align: center;
  margin: 3px 0px 100px 200px;
}

.page-item a, button {
  color: #fff;
  background-color: #5fe4e4;
  color: #fff;
  padding: 10px;
  margin: 1px;
  border-radius: 10px;
}

.submit-button button {
  background-color: #5fe4e4;
  color: #fff;
  padding: 10px;
  float: right;
  margin: 50px 100px 50px 0px;
  width: 100px;
  border-radius: 10px;
}

.Background {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8); 
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.wrapper {
  width: 800px;
  height: 80%;
  box-shadow: 0px 5px 16px rgba(0,0,0,0.2);
  background: #fff;
  color: #000;
  position: fixed;
  border-radius: 10px;
}

.ModalContent p {
  padding-left: 20px; 
  font-size: 1.2rem;
  font-weight: 500;
}
 
.ModalContent button{
  display: flex;
  justify-content: center;
  line-height: 1.8;
  color: #141414;
}

.updatedList {
  display: block;
  overflow: scroll;
  height: 400px;

}

ul {
  padding-top: 30px;
}

ul li{
  list-style-type: none;
}

.leftContent {
  display: inline-block;
  float: left;
  width: 30%;
}

.rightContent {
  display: inline-block;
  margin-bottom: 40px;
}

img {
  padding-left: 20px ;
  width: 70%;
}
